@font-face {
	font-family: 'SolaimanLipiNormal';
	src: url('../fonts/solaiman-lipi.eot');
	src: url('../fonts/solaiman-lipi.eot') format('embedded-opentype'),  url('../fonts/solaiman-lipi.woff') format('woff'),  url('../fonts/solaiman-lipi.ttf') format('truetype'),  url('../fonts/solaiman-lipi.svg#SolaimanLipiNormal') format('svg');
	font-weight: normal;
	font-style: normal;
}
html,
body {
    margin: 10px 0 0;
    font-size: 18px;
    background: #eee;
	font-family: SolaimanLipi;
    color: #000;
}

 .bg-light {
    background-color: #ffc107 !important;
    font-size: 20px;
    /* color: #b76a6a; */
    padding: 0;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(75, 29, 158);
    border-right: 1px solid #e8b109;
    padding-right: 20px;
    padding-left: 5px;
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .active>.nav-link:focus, .navbar-dark .navbar-nav .active>.nav-link:hover, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.active:focus, .navbar-dark .navbar-nav .nav-link.active:hover, .navbar-dark .navbar-nav .nav-link.open, .navbar-dark .navbar-nav .nav-link.open:focus, .navbar-dark .navbar-nav .nav-link.open:hover, .navbar-dark .navbar-nav .open>.nav-link, .navbar-dark .navbar-nav .open>.nav-link:focus, .navbar-dark .navbar-nav .open>.nav-link:hover {
    color: #673ab7;
}

.btn-danger {
    color: #fff!important;
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-primary {
    color: #fff!important;
    background-color: #007bff;
    border-color: #007bff;
}
h1 {
    font-size: 2.5rem;
    color: #4CAF50;
}

@media (max-width: 62em) {
  .navbar-nav {
    padding-top: .425rem;
    padding-left: 0.75rem;
  }

  .navbar-nav .nav-item {
    float: none;
  }

  .navbar-brand {
    float: right;
  }

  .navbar-brand,
  .navbar-nav .nav-item {
    display: block;
  }

  .navbar-nav .nav-item + .nav-item {
    margin-left: 0;
  }

  .dropdown-menu {
    position: relative;
    float: none;
  }
}
